.section__title {
  font-size: 2em;
}

.post__name {
  font-size: 1.5em;
  margin: auto;
}

@media (max-width: 480px) {
  .post {
    font-size: 12px;
  }
  
  .section__header {
    font-size: 10px;
  }
}

@media (min-width: 481px) {
  .post {
    font-size: 14px;
  }

  .section__header {
    font-size: 12px;
  }
}