@media (max-width: 960px) {
  .aside__menu {
    display: none;
  }
}

@media(min-width: 961px) {
  .page {
    display: flex;
  }
  
  .content {
    width: 100%;
  }
  
  .aside {
    width: 320px;
    margin-right: 40px;
    order: -1;
  }
}